*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 970px;
    margin: 0 auto;
    background: rgb(6,33,52);
}
#header,ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
h1{
    color: white;
    margin: 10px
}
ul{
    flex: 1;
    margin-top: 23px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
#mountain-img{
    margin: 25px;
    padding: 33px;
    background: white;
    display: inline-block;
    padding-bottom: 0px;
}
#main-content{
    display: flex;
    justify-content: space-evenly;
}
.main-img{
    width: 858px;
}
.info{
    color: black;
    display: inline-block;
    background: rgb(19,104,168);
    margin-top: 15px;
    width: 268px;
    margin-bottom: 20px;
}

.info-img{
    width: 50px;
    margin: 10px 0px 0px 10px;
}
.info-header{
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.info-p{
    color: white;
    margin: 10px 0px 0px 10px;
    font-size: 15px;
}
.info-p-1{
    color: white;
    margin-top: 10px;
}
button{
    background: rgb(26,144,218);
    width: 107px;
    height: 38px;
    margin: 20px;
    border-radius: 5px;
    color: white;
}
.bottom-info{
    display: inline-block;
}
#bottom-content{
    display: flex;
    justify-content: space-evenly;
    background: white;
}
.bottom-header{
    font-size: 17px;
    color: black;
}
.bottom-header-2{
    font-size: 26px;
    color: black;
}
a{
    color:lightskyblue;
    margin: 20px
}
.bottom-p{
    margin-top: 39px;
    margin-left: 10px;
    margin-bottom: 70px;
}
.bottom-p-2{
    background:rgb(218,237,255);
    margin-top: 29px;
    margin: 10px;
    padding: 10px;
}
.bottom-name{
    margin-top: 20px;
    font-size: 15px;
    color: darkgray;
}
#footer{
    background: rgb(218,237,255);
    height: 22px;
    margin-top: 23px;
    padding: 20px;
    margin-right: -33px;
    margin-left: -33px;
    text-align: center;
}
.bottom-link{
    color: rgb(69,124,163);
    font-size: 20px;
}

a{
    color: rgb(104,149,184)
}
